[Unit]
Description=Guguto's player (RFID + Spotify)
After=default.target

[Service]
ExecStart=/home/pi/guguto/venv/bin/python -m app.main /home/pi/guguto/conf.json /home/pi/guguto/secrets.json /home/pi/guguto/cache.txt
Restart=always
RestartSec=5s

[Install]
RequiredBy=default.target
