[Unit]
Description=Guguto's player (RFID + Spotify)
After=default.target

[Service]
WorkingDirectory=/home/pi/guguto
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/guguto/venv/bin/python -m app.main conf.json secrets.json cache.txt
Restart=always
RestartSec=5s

[Install]
RequiredBy=default.target
