[Unit]
Description=Guguto's Player UI
After=network.target
Wants=player.service

[Service]
WorkingDirectory=/home/pi/guguto/frontend
Environment=NODE_VERSION=default
ExecStart=/home/pi/.nvm/nvm-exec npx -y serve out
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
