[Unit]
Description=Guguto's player (RFID + Spotify) watchdog

[Service]
Type=oneshot
ExecStart=/home/pi/guguto/venv/bin/python -m app.watchdog /home/pi/guguto/conf.json /home/pi/guguto/secrets.json /home/pi/guguto/cache.txt

[Install]
RequiredBy=default.target
